.navbar {
  position: relative;
  height: 7vh;
  background-color :#282E34;
  color: white;

  .nav{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    &-btn{
      border-radius: 3px;
      cursor: pointer;
      border:none;
      padding: .7rem 1.2rem;
      background-color: white;
      color: black;
      font-size: 1.6rem;
      margin: 0 1rem;
      font-weight: 700;
      transition: all .3s;
      &:hover{
        background-color:#f04444;
        color: white;
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  color: white;
  left: 1rem;
  top:3.2rem ;
  border-radius: 3px;
  position: absolute;
  background-color: #282E34;
  min-width: 15rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  z-index: 1;

  p{
    cursor: pointer;
    font-weight: 700;
    padding: 1rem;
    display: block;
    transition: all .3s;
    &:hover{
      background-color: white;
      font-weight: 700;
      color: black;
    }
  }

}

.dropdown:hover .dropdown-content {
  display: block;
}

.fa{
  margin:0 .3rem;
}


//POPUP

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(black, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  &-inner {
    width: 40%; // background-color: white;
    box-shadow: 0 2rem 4rem rgba(black, .2);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    backface-visibility: hidden;
    font-size: 1.6rem;
    .content {
      color: black;
      padding: 2rem 2rem;
      background-color: white;
      .desc {
        font-size: 1.8rem;
        padding: 1rem 0;
      }
      .info {
        display: block;
      }
    }
    .heading {
      letter-spacing: .4rem;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }
    img {
      display: block;
      width: 100%;
      backface-visibility: hidden;
    }
  }
}


