<div class="navbar">
  <nav class="nav">
    <button (click)="openJoinPop()" class="nav-btn">
      Join a private room
    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    </button>
    <button (click)="openCreatePop()" class="nav-btn">
      Create a private room
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
    <div class="dropdown">
      <button class="nav-btn">
        Change Status
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content">
        <p (click)="changeStatus('online')">Online</p>
        <p (click)="changeStatus('offline')">Offline</p>
        <p (click)="changeStatus('busy')">Busy</p>
        <p (click)="changeStatus('away')">Away</p>
      </div>
    </div>
    <button (click)="logout()" class="nav-btn">
      Logout
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>
    
  </nav>
  
</div>

<!-- CREATE-POPUP -->
<div *ngIf="popupCreate" class="popup" (click)="closePop()">
  <div class="popup-inner" (click)="$event.stopPropagation();">
    <div class="content animated fadeIn">
      <div class="form-field">
       <h3 class="form-heading">Private room</h3>
      </div>
      <div class="form-field">
        <label for="">Name</label>
        <input [(ngModel)]="roomName" name="room" type="text" placeholder="name">
      </div>
      <div *ngIf="loading">
        <div *ngIf="roomId==''" class="form-field" style="text-align:center">
          <h4>Loading... <i class="fa fa-cog fa-spin fa-1x"></i></h4>
        </div>
        <div *ngIf="roomId!=''" class="form-field" style="text-align:center">
          <h3>Your Room has been Created</h3>
          <p>Key: {{roomId}}</p>
        </div>
      </div>
      <div class="form-field">
        <button (click)="createRoom()" class="button">Create my room</button>
      </div>
    </div>
  </div>
</div>

<!-- JOIN-POPUP -->
<div *ngIf="popupJoin" class="popup" (click)="closePop()">
  <div class="popup-inner" (click)="$event.stopPropagation();">
    <div class="content animated fadeIn">
      <div class="form-field">
        <h3 class="form-heading">Join Room</h3>
      </div>
      <div class="form-field">
        <label for="">Key</label>
        <input [(ngModel)]="roomKey" name="roomKey" type="text" placeholder="Key">
      </div>

      <div *ngIf="error">
        <div class="form-field" style="text-align:center">
          <h4 style="color:#f73636">Sorry,this key is not valid or the room has been deleted</h4>
        </div>
      </div>

      <div class="form-field">
        <button (click)="joinRoom()" class="button">Let me In</button>
      </div>
    </div>
  </div>
</div>