<div class="navbar">
  <nav class="nav">
  
      <div class="dropdown">
        <button class="nav-btn">
         Options
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
          <p (click)="leave()">Leave <i class="fa fa-sign-out" aria-hidden="true"></i></p>
          <p *ngIf="showDestroy" (click)="logout()">Delete this room <i class="fa fa-times-circle" aria-hidden="true"></i></p>
        </div>
      </div>

  </nav>

</div>