<div class="centered-form">
  <div class="centered-form__form animated slideInUp">
    <form (submit)=signUp($event)>

      <h3 class="form-heading">Signup</h3>

      <div class="form-field">
        <label for="name">Username</label>
        <input autocomplete="off" type="text" placeholder="username" name="username" [(ngModel)]="displayName">
      </div>

      <div class="form-field">
        <label for="password">Passowrd</label>
        <input autocomplete="off" type="password" placeholder="password" name="password" [(ngModel)]="password">
      </div>

      <div class="form-field">
        <label for="email">Email</label>
        <input autocomplete="off" type="text" placeholder="email" name="email" [(ngModel)]="email">
      </div>

      <div class="form-field">
      <button type="submit">Let's go</button>
      </div>
    </form>
     
  </div>
</div>
