html{
  font-size: 62.5%;
  background-color: white;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: rgb(248, 248, 248);
  font-family: 'Open Sans',sans-serif;

}

.chat{
  display: flex;
  height: 93vh;
}

.chat-sidebar{
  flex:0 0 20%;
  display: flex;
  flex-direction: column;
  background:linear-gradient(to bottom right, #cc0c22, #ea384d);
  &-private{
     background:linear-gradient(to bottom right, #911edd, #8800a3);
  }
}

.users{
  flex:1;
}
.footer{
  padding: 2rem;
  height: 8rem;

  &-content{
    border-radius: 3px;
    height: 100%;
    background-color: white;
  }
}

.chat-main{
  background:hsl(0, 0%, 99%);
  flex-grow:1;
  display: flex;
  flex-direction: column;
}



.chat-feed{
  flex:1;
  overflow-y: auto;
  // padding: 1rem;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(0, 0%, 99%);
  }

  &::-webkit-scrollbar-thumb {
    background:#E22C41
  }

  &-private{
    &::-webkit-scrollbar-thumb {
      background: rgb(151, 21, 202)
    }
  }
}

.chat-list{
  padding: 1rem;
}

.chat-form{
  padding: 1rem;
  background-color: #fcfcfc;
  border-top: 1px solid #cfcfcf
}

.form{
  display: flex;
  .chat-input{
    flex:1;
    border: none;
    padding: 1.3rem;
    box-shadow: 0 0 .1rem black;
    border-radius: 3px;
    font-size: 1.6rem;
  }
}

.chat-button {
  border: none;
  margin: 0 1rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ea384d;
  color: white;
  &-private{
    background-color: #8E13C7;
  }
}



.loading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #4B4B4B;
  flex: 1;
}

.message{
  margin-top: 15px;
  margin-left: 53px;
  margin-bottom: 20px;
  min-width: 100px;
  max-width: 500px;
  width: fit-content;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  border-radius: 8px;
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, .125);
  animation-duration: .5s;

  &-self{
    background-color: rgb(241, 70, 90);
    color: white;
    &-private{
      background-color:rgb(154, 71, 192);
      color: white;
    }
  }
}

.sender {
  color: rgb(49, 43, 43);
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: capitalize;
  &-self{
    color: white;
    &-private{
      color: white;
    }
  }
  &-private{
    color: white;
  }
}

.timestamp {
  color: white;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  margin-top: 3px;
  font-weight: 400;
  display: block;
}

p {
  margin: 0;
  padding: .5rem 0;
  font-family: "Roboto", "Lato", sans-serif;
}

.msg-avatar {
  position: absolute;
  left: -53px;
  top: -4px;
  vertical-align: middle;
  text-align: center;

  &-sender{
    left: unset;
    right: -53px;
  }
}

.msg-avatar img {
  height: 45px;
  width: 45px;
}


.userList{
  margin-top: 3.5rem;
}

//login-signup

.centered-form {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: linear-gradient(to bottom right, #fc4258, #d8031c);
}

.centered-form__form {
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.3);
  background:white;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding: 3.5rem 2.5rem;
  margin: 2rem;
  width: 50rem;
  animation-duration: .8s;

  

}

.form-field {
  
  button {
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #fc4258;
    color: white;
    cursor: pointer;
    padding: 1.2rem;
    transition: all .3s ease;
  }

  button:hover {
    background: #c91a2f;
  }

  button:disabled {
    cursor: default;
    background: #fc4258;
  }
  margin: 2rem 0;

  button {
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #fc4258;
    color: white;
    cursor: pointer;
    padding: 1.2rem;
    transition: all .3s ease;
  }

  button:hover {
    background: #c91a2f;
  }

  button:disabled {
    cursor: default;
    background: #fc4258;
  }
}

.form-field>* {
  width: 100%;
}

.form-field label {
  display: block;
  font-size: 1.7rem;
  color: #4B4B4B;
  margin-bottom: 7px;
}

.form-field input,
.form-field select {
  border: 1px solid #e1e1e1;
  font-size: 1.8rem;
  width: 93%;
  padding: 1.5rem;
}

.form-heading {
  background-color: #4B4B4B;
  color: white;
  font-weight: 700;
  padding: 1rem 0;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

















